<!DOCTYPE html>

<html>
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="/static/css/dashboard.css">
    </head>

    <body>
        <h1>Punto de Venta</h1>

        <nav>
            <a href="/branches">Sucursales</a>
            <a href="/products">Productos</a>
            <a href="/inventory">Inventario</a>
            <a href="/sales">Ventas</a>
            <a href="/users">Usuarios</a>
            <a href="/reports">Reportes</a>
        </nav>

        <div class="card">
            <h2>Productos</h2>
        </div>

        <div class="card">
            <h2>Inventario</h2>
        </div>

        <div class="card">
            <h2>Ventas</h2>
        </div>

        <div class="card">
            <h2>Sucursales</h2>
        </div>

        <div class="card">
            <h2>Usuarios</h2>
        </div>

        <div class="card">
            <h2>Reportes</h2>
        </div>

    </body>
</html>