<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/css/crud.css">
</head>
<body>
  <div id="page-error" hidden></div>

  <form id="product-form">
    <input type="text" id="product-code">
    <input type="text" id="product-name">
    <input type="text" id="product-price">
    <input type="text" id="product-tax">
    <input type="text" id="product-category-id">
  </form>

  <table>
    <tbody id="products-body"></tbody>
  </table>

  <script src="/static/js/products.js"></script>
</body>
</html>